<div class="page page--dashboard">
    <aside class="page__aside aside vertical vertical--big">
        <div class="text aside__logo">Sidebar</div>
        <nav class="vertical vertical--small">
            <a href="#" class="nav-button nav-button--active click">
                <span class="icon nav-button__icon" style="background-image: url(/svg/nav/home.svg);"></span>
                <span class="text text--light">Home</span>
            </a>
            <a href="#" class="nav-button click">
                <span class="icon nav-button__icon" style="background-image: url(/svg/nav/orders.svg);"></span>
                <span class="text text--light">Orders</span>
            </a>
            <a href="#" class="nav-button click">
                <span class="icon nav-button__icon" style="background-image: url(/svg/nav/products.svg);"></span>
                <span class="text text--light">Products</span>
            </a>

        </nav>
    </aside>
    <header class="header">
        <div class="layout header__content text--small">
            <div class="header__search relative">
                <input type="text" placeholder="Search" class="text field field--header">
                <span class="icon header__icon-search" style="background-image: url(/svg/header/search.svg);"></span>
                <span class="icon icon--header-settings icon--button icon--color-blue click"
                    style="background-image: url(/svg/header/settings.svg);"></span>
            </div>
            <div class="header__link">
                <a href="#" class="icon header__icon-link icon--button icon--color-yelow click"
                    style="background-image: url(/svg/header/antenna.svg);"></a>
                <a href="#" class="icon header__icon-link icon--button icon--color-bluelight click"
                    style="background-image: url(/svg/header/translate.svg);"></a>
                <a href="#" class="icon header__icon-link icon--button icon--color-yelow click"
                    style="background-image: url(/svg/header/bell.svg);"></a>
            </div>
        </div>
    </header>
    <main class="main">
        {{!-- layout --}}
        <div class="layout">
            <section class="box analytic__block">

                <div class="analytic analytic--double analytic--puple">
                    <span class="icon anlytic__button icon--button icon--color-puple click"
                        style="background-image: url(/svg/analytic/money.svg);"></span>
                    <div class="relative vertical vertical--small">
                        <div class="analytic__title text text--light">$500.00</div>
                        <div class="text text--small text--lighter">Total earning</div>
                        <span class="icon anlytic__arrow"
                            style="background-image: url(/svg/analytic/purple-arrow.svg);"></span>
                    </div>
                </div>

                <div class="analytic analytic--double analytic--blue">
                    <span class="icon anlytic__button icon--button icon--color-blue click"
                        style="background-image: url(/svg/analytic/order.svg);"></span>
                    <div class="relative vertical vertical--small">
                        <div class="analytic__title text text--light">$961</div>
                        <div class="text text--small text--lighter">Total Order</div>

                    </div>
                </div>

                <div class="analytic analytic--blue analytic--horizontal">
                    <span class="icon anlytic__button icon--button icon--color-blue click"
                        style="background-image: url(/svg/analytic/money.svg);"></span>
                    <div class="relative vertical vertical--mini">
                        <div class="analytic__title text text--light title--medium">$961</div>
                        <div class="text text--small text--lighter">Total Order</div>
                    </div>
                </div>

                <div class="analytic analytic--horizontal analytic--border">
                    <span class="icon anlytic__button icon--button icon--color-yelow click"
                        style="background-image: url(/svg/analytic/shop.svg);"></span>
                    <div class="relative vertical vertical--mini">
                        <div class="analytic__title text text--black title--medium">$203k</div>
                        <div class="text text--small text--grey">Total Income</div>
                    </div>
                </div>

            </section>
        </div>

        {{!-- layout end--}}

        {{!-- main_double --}}

        <div class="checkout">
            <div class="purchase box">
                <div class="text main_double__title text--black">Purchase list</div>
                <div class="dvd"></div>
                <div class="purchase__table">
                    <div class="purchase__table-info">
                        <div class="text">ID437661</div>
                        <div class="text">May 11, 2023, 14:21</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">AirOn ProCam</div>
                        <div class="text">7/8 USB Type-C</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">132.32 EUR</div>
                        <div class="text text-warning">Not paid</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">Customer</div>
                        <div class="text">robin@com.de</div>
                    </div>
                </div>
                <div class="dvd"></div>
                <div class="purchase__table">
                    <div class="purchase__table-info">
                        <div class="text">ID437661</div>
                        <div class="text">May 11, 2023, 14:21</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">PHILIPS Essential</div>
                        <div class="text">HD9200/90</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">543 USD</div>
                        <div class="text text-success">Pay by Stripe</div>
                    </div>
                    <div class="dvd-light"></div>
                    <div class="purchase__table-info">
                        <div class="text">Customer</div>
                        <div class="text">dima@com.ua</div>
                    </div>
                </div>
            </div>
            <div class="payment box">
                <div class="text main_double__title text--black">Payment</div>
                <div class="dvd"></div>
                <div class="payment__radio vertical--small">
                    <div class="payment__input-pay">
                        <span class="circle circle--checked"></span>
                        <input type='radio' />
                        <label class='label text'>Credit card</label>
                    </div>
                    <div class="payment__input-pay">
                        <span class="circle"></span>
                        <input type='radio' />
                        <label class='label text'>Debit card</label>
                    </div>
                    <div class="payment__input-pay">
                        <span class="circle"></span>
                        <input type='radio' />
                        <label class='label text'>PayPal</label>
                    </div>
                </div>

                <div class="payment__form space--top">

                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">Name on card</label>
                            <input type="text" class="field width--element">
                        </div>
                    </div>
                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">Credit card number</label>
                            <input type="text" class="field width--element">
                        </div>
                    </div>

                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">Expiration</label>
                            <input type="text" class="field width--element">
                        </div>
                    </div>
                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">CVV</label>
                            <input type="text" class="field width--element">
                        </div>
                    </div>

                </div>

                <div class="dvd"></div>

                <div class="payment__form">

                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">Country</label>
                            <div class="field__block click">
                                <div class="field field--select">
                                    <span class="icon arrow-select__icon"
                                        style="background-image: url(/svg/form/arrow-select.svg);"></span>
                                    <span class="text text--grey-dark">Choose...</span>
                                </div>
                                <select class="field__select">
                                    <option value="dog">dog</option>
                                    <option value="cat">cat</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="payment__form-field">
                        <div class="input__block vertical--mini">
                            <label class="text">State</label>
                            <div class="field__block click">
                                <div class="field field--select">
                                    <span class="icon arrow-select__icon"
                                        style="background-image: url(/svg/form/arrow-select.svg);"></span>
                                    <span class="text text--grey-dark">Choose...</span>
                                </div>
                                <select class="field__select">
                                    <option value="dog">dog</option>
                                    <option value="cat">cat</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dvd"></div>

                <a href="#"
                    class="btn-checkout text text--light width--element text--line nav-button--active click">Continue
                    to checkout</a>

            </div>
        </div>

        {{!-- main_double end--}}
    </main>
</div>