:root {
  --space-px12: 12px; /*val(--space-px12)*/
  --space-px14: 14px; /*val(--space-px14)*/
  --space-px16: 16px; /*val(--space-px16)*/
  --space-px24: 24px; /*val(--space-px24)*/
  --space-px32: 32px; /*val(--space-px32)*/
  --space-px60: 60px; /*val(--space-px60)*/

  --font-px14: 14px; /*val(--font-px14)*/
  --font-px16: 16px; /*val(--font-px16)*/

  --bradius-px24: 24px; /*val(--bradius-px24)*/
  --bradius-px10: 10px; /*val(--bradius-px10)*/

  --weight-700: 700; /*val(--weight-700)*/
  --weight-400: 400; /*val(--weight-400)*/

  --lh-100pr: 100%; /*val(--lh-100pr)*/

  --color-white: #fff; /*val(--color-white)*/
  --color-885ffb: #885ffb; /*val(--color-885ffb)*/
  --color-9ca3af: #9ca3af; /*val(--color-9ca3af)*/

  --page-width: 1150px;
}

/* ------------------------------- */
body {
  background-color: #111827;
}

.page {
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: val(--lh-100pr);

  display: flex;
  flex-direction: column;

  gap: val(--space-px60);
}

/* ------------------------------- */

/* header */

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: val(--space-px12) 0;

  border-bottom: 1px solid #253041;
}

.badge {
  width: val(--space-px32);
  height: val(--space-px14);
}

.logo {
  color: val(--color-white);
  font-size: val(--font-px14);
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);

  border-radius: val(--bradius-px10);
  background: val(--color-885ffb);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px val(--space-px12);
}

.nav {
  display: flex;
  gap: val(--space-px24);
}

.nav_link {
  color: val(--color-white);
  font-size: val(--font-px16);
  font-weight: val(--weight-400);
  line-height: val(--lh-100pr);
  text-decoration: none;
}

.nav_link:hover {
  color: #ccc;
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: val(--space-px12);
}

.header_bottom_right {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.header_bottom_logo_badge {
  width: 18px;
  height: val(--space-px14);
  padding: 2px 6px;
  background: #885ffb33;
  border-radius: 4px;
  color: val(--color-885ffb);
  font-size: val(--font-px14);
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
}

.header_bottom_ad {
  color: val(--color-white);
  font-size: val(--font-px14);
  font-weight: val(--weight-400);
  line-height: val(--lh-100pr);
}

.header_bottom_useronline {
  color: val(--color-white);
  font-size: val(--font-px14);
  font-weight: val(--weight-400);
  line-height: val(--lh-100pr);
  justify-self: flex-end;
}

/* header end */

/* main */

.main {
  display: flex;
  flex-direction: column;
  gap: val(--space-px60);
}

/* hero */

.hero {
  display: flex;
  height: 300px;
  padding: val(--space-px32);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: val(--bradius-px24);

  background: linear-gradient(
    to right,
    rgba(78, 63, 146, 0.6) 0%,
    rgba(17, 24, 39, 0) 75%
  );
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.hero_title {
  color: val(--color-white);
  font-size: 36px;
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
}
.hero_decs {
  color: val(--color-9ca3af);
  text-align: center;
  font-size: val(--font-px16);
  font-weight: val(--weight-400);
  line-height: 150%;
  width: 600px;
}

.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: val(--space-px12) 36px;

  border-radius: val(--bradius-px10);
  background: val(--color-885ffb);

  color: val(--color-white);
  font-size: val(--font-px16);
  font-style: normal;
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
  text-decoration: none;
}

/* hero end */

/* about */
.about {
  display: flex;
  padding: val(--space-px32);
  flex-direction: column;
  align-items: flex-start;
  gap: val(--space-px16);
  align-self: stretch;

  border-radius: val(--bradius-px24);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
}

.about_title {
  color: val(--color-white);
  font-size: 24px;
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
}

.about_info {
  color: val(--color-9ca3af);
  font-size: val(--font-px14);
  font-weight: val(--weight-400);
  line-height: 170%;
}

/* about end */

/* articles */

.articles {
  display: flex;
  flex-direction: column;
  gap: val(--space-px32);
}

.articles_top {
  display: flex;
  justify-content: space-between;
}

.articles_title {
  color: val(--color-white);
  font-size: 32px;
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
}

.articles_button {
  display: flex;
  padding: val(--space-px12) 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: val(--bradius-px10);
  border: 1px solid val(--color-9ca3af);
}

.articles_button > a {
  color: val(--color-white);
  font-size: val(--font-px16);
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
  text-decoration: none;
}

.articles_cards {
  display: flex;
  flex-direction: row;
  gap: val(--space-px32);
}

.articles_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: val(--space-px16);
  width: val(--lh-100pr);
}

img {
  border-radius: 29px;
  width: 360px;
  height: 208px;
}

.articles_card_name {
  color: val(--color-white);
  font-size: 18px;
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
}

.articles_card_description {
  color: val(--color-9ca3af);
  font-size: val(--font-px14);
  font-weight: val(--weight-400);
  line-height: 150%;
}

.articles_card_button {
  background: val(--color-885ffb);
  display: flex;
  justify-self: flex-start;
  align-items: start;

  padding: 8px val(--space-px16);

  border-radius: val(--bradius-px10);

  color: val(--color-white);
  font-size: val(--font-px16);
  font-weight: val(--weight-700);
  line-height: val(--lh-100pr);
  text-decoration: none;
}

/* articles end */

/* main end */

/* footer */

.footer {
  padding: val(--space-px16) 0 val(--space-px32) 0;

  border-top: 1px solid #202a3b;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  color: val(--color-9ca3af);
  font-size: val(--font-px16);
  font-weight: val(--weight-400);
  line-height: val(--lh-100pr);
}

.footer_pages {
  display: flex;
  gap: val(--space-px16);
}

.footer_page {
  color: val(--color-white);
  font-size: val(--font-px16);
  font-weight: val(--weight-400);
  line-height: val(--lh-100pr);
  text-decoration: none;
}

/* footer end */
