:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* ------------------------------- */

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}

/* ------------------------------- */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-style: var(--size-d);
  text-decoration: none;

  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 12px;
  color: #6c757d;

  display: block;

  margin-top: var(--space-m);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}

/* main */

.main {
  display: flex;
  align-items: center;
  gap: 80px;
}

.main_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main_heading {
  font-size: 36px;
  color: #5a5a5a;
  font-weight: var(--weight-title);
  line-height: 120%;
}

.main_descriotion {
  font-size: var(--size-d);
  color: #5a5a5a;
  font-weight: var(--weight-text);
  line-height: 170%;
}

.main_button {
  display: inline-block;
  background-color: #6c757d;
  padding: var(--space-m) var(--space-xm);
  border-radius: 4px;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  text-decoration: none;
  line-height: 100%;
  color: #fff;
}

/* main end */

.featured {
  display: flex;
  justify-content: space-around;

  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card_photo {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
}

.card_heading {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
  line-height: 100%;
}

.card_info {
  font-size: 16px;
  font-weight: var(--weight-title);
  color: var(--color-title);
  line-height: 170%;
  width: 288px;
}

.card_link {
  color: #0d6efd;
}

.button:hover {
  opacity: 0.7;
}

/* actions */

.actions {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: var(--space-l);
  border-radius: 8px;
}

.action_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.action_title {
  font-size: var(--space-l);
  font-weight: var(--weight-text);
  line-height: 16px;
  color: #ffffff;
}

.action {
  display: flex;
  text-align: center;
}

.action_button {
  background-color: var(--color-white);
  width: 240px;
  color: var(--color-title);
  padding: var(--space-xm);
  border-radius: 5px;

  font-size: 20px;
  font-weight: var(--weight-text);
  line-height: 100%;
  text-decoration: none;
}

/* actions end */
