<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />

	<link href='css/normalize.css' rel='stylesheet' />

	<link href='css/template-7.css' rel='stylesheet' />

</head>

<body>

	<div class="page">
		<div class="page_content">
			{{{body}}}
		</div>
	</div>

</body>

</html>